body{
    
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  background-color:white;
  color:#2F281E ;
  margin: 0;
  
}
.nav-logo{
  display: flex;
  align-items: center;
  gap:10px;
}
.nav{
  display: flex;
 align-items:center;
  padding: 20px 50px;
  flex-wrap: wrap;
  gap: 320.73px;
}
.nav-meny{
  display: flex;
  align-items: center;
  gap: 24px;
  list-style: none;
}
.nav-meny a{
  text-decoration: none;
  color: #2F281E;
  transition: 0.4s;
}
.header-text{
font-size: 28px;
font-weight: bolder;
font-weight: 350px;
}
.nav-buttons{
  display: flex;
  align-items: center;
  gap:14px;

}
.nav-buttons{
  display: flex;
  align-items: center;
  gap:14px ;
  
}
.btn-signin{
  text-decoration: none;
  color: #173A56;
  font-size:16px ;
  font-weight:bold;
  border: 1px solid #BCD0E5;
  padding:11px 25px ;
  border-radius: 10px;

}
.btn-signup{
  text-decoration: none;
  background-color:#FF9900 ;
  font-size: 16px;
  font-weight: bold;
  padding: 11px 25px;
  color:white;
  border-radius: 10px;
}

.hero-content{
  display: flex;
  justify-content: center;
  align-items: center;
  gap:3px;
  width: 100%;
  max-width: 1500px;
  padding-left: 145px;
  margin-bottom: 110px;
  

}
.hero-text{
  margin-top: 30px;
 max-width: 550px;
 padding-bottom:45px ;
}

.btn-getstarted{
  text-decoration: none;
  background-color:#FF9900 ;
  font-size: 16px;
  font-weight: bold;
  padding: 15px 41px;
  color:white;
  border-radius: 10px;
  }
  .hero-text p{
    margin-bottom: 45px;
  }
  
  
.hero-image{
  
  width: 605px;
  height: 496px;
  max-width: 100%;
  }
.features{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  text-align: center;
  
  
  }

.features-list{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 40px;
  gap:46px;
  
}
.features h2{
  width: 100%;
  text-align: center;
  margin-bottom: 60px;
  
  
}
.features-card{
  
  width: 240px;
  height: 178px;
}

.features-button{
   
  width: 100%;
  margin-bottom: 90px;
}

.btn-signup{
 
  text-decoration: none;
  background-color:#FF9900 ;
  font-size: 16px;
  font-weight: bold;
  padding: 15px 14px;
  color:white;
  border-radius: 10px;
 }

   .info-section{
    display:flex;
    align-items: center;
    justify-content: center;
 
 }

.info-text p{
  font-size:16px ;
  line-height: 26px;
  font-weight: 300px;
  color: #544837;
  padding-bottom: 30px;
}
.info-text h2{
  color: #2F281E;
  font-size: 36px;
  padding-bottom: 22px;
}
.Effortless-title{
  display: block;
  padding-bottom: 2px;
}
  
  
  .red-shirt{
  width: 520px;
  height: 574px;
  padding: 354px 54px;
  
  
}


 
.reverse{
  flex-direction: row-reverse;
  display: flex;
  gap: 100px;
  align-items: center;
  
}
.icon{
  display: flex;
  align-items: center;
  gap: 30px;
  margin-bottom: 20px;

}
.icon p{
  line-height:26px;
  margin: 0;
}

  
.blue-shirt{
  width: 520px;
  height: 574px;
  padding: 354px 54px;
  
  }

.info-section-Product{
   display: flex;
 align-items:center;
  padding: 20px 50px;
  flex-wrap: wrap;
  gap: 320.73px;
    
   
 }
 .info-text p{
  font-size:16px ;
  line-height: 26px;
  font-weight: 300px;
  color: #544837;
  margin-bottom: 30px;
}
.info-text h2{
  color: #2F281E;
  font-size: 36px;
  padding-bottom: 22px;
}



.footer{
  display: flex;
 justify-content:space-between;
 align-items: flex-start;
 flex-wrap: wrap;
 gap: 140px;
 
 

}
  
.footer-logo{
  display: flex;
  align-items: center;
  }

  .footer-info {
    list-style: none;
    margin: 0;
  }
  .footer-info a{
    color: #544837;
  }



 .legal-stuff  {
  list-style: none;
  margin: 0;
  
  }
 .legal-stuff a{
  color: #544837;
 }

 
  
.footer-subscribe{
  gap: 15px;
  max-width: 250px;
  flex-direction: column;

}


.btn-signup{
 display: inline-block;
 text-align: center;
  text-decoration: none;
  background-color:#FF9900;
  font-size: 16px;
  font-weight: bold;
  padding: 15px 14px;
  color:white;
  border-radius: 10px;
  }
  .footer-links-container{
    display: flex;
    gap: 100px;
  
  }

  

 
  
